p {
  color: #4F4C4C;
}

.secaoSobre {
  color: #4F4C4C;
  font-family: 'Montserrat';
}

.secaoSobreAcessibilidade {
  margin: 10px 0;
}

.secaoSobreAplicabilidade {
  color:#4F4C4C;
  margin: 0.5em 0;
}

.secaoSobreTextoDados {
  margin-top: 10px;
}
.secaoSobre-texto {
  margin-bottom: 1em;
}

.secaoSobre-plataformas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.secaoSobre-imgDestaque {
  max-width: 100%;
  margin: 1em 0 1em 0;
}

.secaoAplicabilidade {
  display: none;
}

.img-sobre {
  display: none;
  max-width: 50%;
}


@media (min-width: 830px) {

  .secaoSobre {
    text-align: left;
  }

  .secaoAplicabilidade-titulo{
    text-align: center;
    color: #4F4C4C;
    margin: 5px 0;
  }

  .secaoSobreAplicabilidade{
    font-size: 18px;
    text-align: center;
    color: #4F4C4C;
  }

  .secaoSobre-titulo {
    text-align: left;
  }

  .secaoSobre-imgDestaque {
    display: block;
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
    max-width: 50%;
  }
  
  .secaoAplicabilidade {
    display: block;
    max-width: 100%;
    margin: 1em 0 1em 0;
  }

  .img-sobre {
    display: block;
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
  }

  .secaoSobre-plataformas {
    display: block;
    padding-top: 1.5em;
    position: relative;
  }

  .secaoSobre-plataformas:before {
    content: '';
    height: 1px;
    width: 45%;
    background-color: #D9D9D9;
    position: absolute;
    top: 4px;
  }

  .secaoSobre-plataformas li {
    display: inline-block;
    margin-right: 3em;
    margin: 1em 3em 0 0
  }

}