q{
  font-family: 'Montserrat';
}

.tituloSessaoAplic {
  margin: 1em 0 1em 0;
  font-size: 1em;
  color: #4F4C4C;
}
.sessaoBarreiras li{
  margin-left: 0!important;
  list-style-type: none;
}

.sessaoDadosLeis {
  margin-bottom: 1em;
}

.tituloLinksUteis{
  text-align: center;
}

.listaLinks li {
  list-style-type: none;
  font-family: 'Montserrat';
}

.listaLinks li a{
  color: #3e1d8c;
}

.subtituloLinks {
  margin: 10px 0;
}

.linksUteisLista {
  margin: 20px 0;
}

.textoDestaque {
  color: #3e1d8c;
  font-family: 'Montserrat';
  font-size: 16px;
}

.secaoDestaque {
  text-align: center;
  background-size: cover;
  background-color: #F8F5FF;;
  padding: 15em 2em 3em 2em;
  color: #3e1d8c;
}


.secaoDestaque-titulo {
  font-weight: bold;
  margin-bottom: 1em;
  font-family: 'Montserrat', serif;
  font-size: 200%;
  line-height: 1;
}

.secaoDestaque-texto {
  max-width: 600px;
  margin: 0 auto 2em auto;
  font-size: 1.25em;
  font-weight: normal;
  font-family: 'Montserrat', serif;
}

.secaoDestaque-cta {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  line-height: 2.5;
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  transition: .2s ease-in;
}

.secaoDestaque-cta:hover,
.secaoDestaque-cta:focus {
  background: #fff;
  color: #333;
}

@media (min-width: 830px) {

  .secaoDestaque-titulo {
    font-size: 100%;
  }

}
